<div class="container">
  <h2 class="title">Редактирование пользователя</h2>

  <% if @user.errors.any? %>
    <div class="mt">
      <% @user.errors.full_messages.each do |message| %>
      <p class="mb-sm text-red">
        <%= message%>
      </p>
      <% end %>
    </div>
  <% end %>

  <div class="mt">
    <%= form_with model: @user,data: {turbo: false} do |form| %>
    <p><%= form.label :name,'Ваше имя' %></p>
    <p><%= form.text_field :name, class: "ft-field" %></p>

    <p class="mt"><%= form.label :nickname,'Ваш ник' %></p>
    <p><%= form.text_field :nickname, class: "ft-field" %></p>

    <p class="mt"><%= form.label :email %></p>
    <p><%= form.text_field :email, class: "ft-field" %></p>

    <p class="mt"><%= form.label :password %></p>
    <p><%= form.password_field :password, class: "ft-field" %></p>

     <p class="mt"><%= form.label :password_confirmation %></p>
    <p><%= form.password_field :password_confirmation, class: "ft-field" %></p>

    <p class="mt-lg"><%= form.submit 'Сохранить', class: 'button button-main' %></p>
    <% end %>
    <p><%= link_to "Вернуться", :back %></p>
    <p><%= button_to "Удалить профиль", user_path(@user), method: :delete,
    form:{data:{turbo_confirm: 'Вы уверены?'}}  %></p>
  </div>
</div>